@{
    if (!WebSecurity.IsAuthenticated){Response.Redirect("~/Account/login");}
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Pas een product aan";
    
    var Product = "";
    var Aantal = "";
    var Afbeelding = "";
    var Hoeveelheid = "";
    var ProductID = "";

    

    if(!IsPost){
        if(!Request.QueryString["id"].IsEmpty() && Request.QueryString["id"].IsInt()) {
            ProductID = Request.QueryString["id"];
            var db = Database.Open("StarterSite");
            var dbCommand = "SELECT * FROM Product WHERE ProductID = @0";
            var row = db.QuerySingle(dbCommand, ProductID);

            if(row != null) {
                Product = row.Product;
                Aantal = Convert.ToString(row.Aantal);
                Afbeelding = row.Afbeelding;
                Hoeveelheid = row.Hoeveelheid;
            }
            else{
                Validation.AddFormError("Geen product geselecteerd.");
            }
        }
        else{
            Validation.AddFormError("Geen Product geselecteerd.");
        }
    }

    if(IsPost){
        Validation.RequireField("Product", "Je moet een product naam kiezen");
        Validation.RequireField("Aantal", "Kies een Aantal");
        Validation.Add("Aantal", Validator.Integer("U mag alleen cijfers gebruiken voor aantal eenheden"));
        Validation.RequireField("Hoeveelheid", "Kies een Hoeveelheid");
        Validation.RequireField("ProductID", "Geen product gevonden!");
        Validation.Add("Product",
        Validator.StringLength(
            maxLength: 20,
            minLength: 1,
            errorMessage: "U mag maximaal 20 tekens gebruiken"));
        Validation.Add("Aantal",
        Validator.StringLength(
            maxLength: 2,
            minLength: 1,
            errorMessage: "U mag maximaal 99 eenheden toevoegen"));

            

        Product = Request.Form["Product"];
        Aantal = Request.Form["Aantal"];
        Afbeelding = Request.Form["Afbeelding"];
        Hoeveelheid = Request.Form["Hoeveelheid"];
        ProductID = Request.Form["ProductID"];

        if(Validation.IsValid()){
            var db = Database.Open("StarterSite");
            var updateCommand = "UPDATE Product SET Product=@0, Aantal=@1, Afbeelding=@2, Hoeveelheid=@3 WHERE ProductID=@4";
            db.Execute(updateCommand, Product, Aantal, Afbeelding, Hoeveelheid, ProductID);
            Response.Redirect("~/Koelkast");
        }
    }
    Afbeelding = Product + ".jpg";
}

  <h1>Pas een product aan.</h1>
    @Html.ValidationSummary()
  <form method="post">
    <fieldset>
      <legend></legend>
        <div>
      <p><label for="Product">Product:</label>
         <input class="Forms" type="text" name="Product" value="@Product" /></p>
        
      <p><label for="Aantal">Aantal:</label>
         <input class="Forms" type="text" name="Aantal" value="@Aantal" /></p>
        
      <p><label for="Afbeelding">Afbeelding:</label>
         <input class="Forms" type="text" name="Afbeelding" value="@Afbeelding" /></p>
            <br>
        <p><label for="Hoeveelheid">Hoeveelheid:</label>
        <select name="Hoeveelheid">
            <option value="Per stuk">Per stuk</option>
            <option value="Per verpakking">Per verpakking</option>
            <option value="Per 100 gr">Per 100 gr</option>
            <option value="per 1000 gr">per 1000 gr</option>
        </select>
        
      <input type="hidden" name="ProductID" value="@ProductID" />
        </div>
      <p><input class="Submit-Btns" id="Edit-Btn" type="submit" name="buttonSubmit" value="Aanpassen" /></p>
    </fieldset>
  </form>
  <a class="Link-Btn" href="~/Koelkast"><p class="Submit-Btns">Terug</p></a>
