@{ 
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Koelkast";
    string search = Request.RawUrl.ToString();

    if (!WebSecurity.IsAuthenticated)
    {
      Response.Redirect("~/Account/Login");
    }  
    var aantal = 0; 
    var searchTerm = "";
    var Email = WebSecurity.CurrentUserName;
    var db = Database.Open("StarterSite");
    var codevanuser = "SELECT Koelkastnr FROM Userprofile WHERE LOWER(Email) = LOWER(@0)";
    if(Email == ""){Response.Redirect("~/Account/Login");};
    var decodevanbelang = db.QueryValue(codevanuser, Email);
    var selectCommand = "SELECT * FROM Product WHERE Koelkastnr = @1";
    var selectedData = db.Query(selectCommand, searchTerm, decodevanbelang);
    string map = "/Images/Productafbeeldingen/";

    var selectCommands = "SELECT * FROM Product WHERE Koelkastnr = @1";
    

    if(!Request.QueryString["searchProduct"].IsEmpty()) 
    {
        selectCommands = "SELECT * FROM Product WHERE Product LIKE @0 AND Koelkastnr = @1";
        searchTerm = "%" + Request.QueryString["searchProduct"] + "%";
    }

    var selectcount = "Select Aantal FROM Product WHERE ProductId=@0";
   // var countplus = db.Query(selectcount);

    
    if (IsPost && !Request.Form["Action"].IsEmpty())
    {
        string action = Request.Form["Action"];
        if (action == "PlusProduct" &&
            Request.Form["productId"].IsInt())
        {    
            var ProductID = Request.Form["productid"];
            var countplus = Convert.ToInt32(Request.Form["aantal"]) + 1;
            var updateCommand = "UPDATE Product SET Aantal=@0 WHERE ProductID=@1";
            db.Execute(updateCommand, countplus, ProductID);
        }

        if (action == "MinProduct" &&
            Request.Form["productId"].IsInt())
        {    
            var idproduct = Request.Form["productid"];
            var countplus = Convert.ToInt32(Request.Form["aantal"]) - 1;
                if (countplus < 1){       
                    var ProductID = Request.Form["productid"];
                    var deleteCommand = "DELETE FROM Product WHERE ProductID = @0";
                    db.Execute(deleteCommand, idproduct);
                    Response.Redirect("~/Koelkast");}
            else{
            var updateCommand = "UPDATE Product SET Aantal=@0 WHERE ProductID=@1";
            db.Execute(updateCommand, countplus, idproduct);}
        }

    }
   
    //var dataSelected = db.Query(selectCommands, searchTerm);
}

<div class="Search-div">
    <h1 style="color: black">Online Koelkast-Manager</h1>

<form method="get">
  <div>
    <label for="searchProduct"></label>
      <br>
    <input class="Search-Form" type="text" name="searchProduct" value="@Request.QueryString["searchProduct"]" />
      <br>
    <input class="Search-btn" type="Submit" value="Zoek product" /><br/>
    </div>
</form>
    
</div>

      

          </div>
</form>
    </div>
        </div>
@foreach(var row in db.Query(selectCommands, searchTerm, decodevanbelang))
{
<div class="achtergrond">
    <div class="afbeelding"><img alt="@row.Product" style="width: 100%; height: 100%;" src="@row.Afbeelding"></div>
    <div class="product">
        <div class="productachtergrond">
            <div class="naam">@row.Product</div>
            <div class="aantal">
                <div class="cijfer">
                     @row.Aantal
                </div>          
               <div class="plusmin">
                <form method="post">
                    @*<input id="productForm" type="text" name="aantalProducten" value="@row.Aantal"/>*@
                    <input type="hidden" name="productId" value="@Convert.ToInt32(@row.ProductId)" />
                    <input type="hidden" name="aantal" value="@row.Aantal"/>
                    <button class="plus" name="Action" value="PlusProduct">+</button>
                    <button class="min" name="Action" value="MinProduct">-</button>
                </form>
               </div> 
            </div>
            <div class="hoeveelheid">

            
@row.Hoeveelheid
            </div>
        </div>
        <div class="knoppen">
            <a href="~/Delete?id=@row.ProductID"><div class="verwijderen">Verwijderen</div></a>
            
            <a href="~/Edit?id=@row.ProductID"><div class="aanpassen">Aanpassen</div></a>
        </div>
    </div> 
</div>
}
@if (search.Contains("search")){<a class="Link-btn" href="~/Koelkast"> <div class="Submit-btn GoBack-btn">Terug naar alle producten.</div> </a> }
