@{ 
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Koelkast";
    
    if (!WebSecurity.IsAuthenticated)
    {
      Response.Redirect("~/Account/Login");
    }   

    var Email = WebSecurity.CurrentUserName;
    var db = Database.Open("StarterSite");
    var codevanuser = "SELECT Koelkastnr FROM Userprofile WHERE LOWER(Email) = LOWER(@0)";
    if(Email == ""){Response.Redirect("~/Account/Login");};
    var decodevanbelang = db.QueryValue(codevanuser, Email);
    var selectCommand = "SELECT * FROM Product WHERE Koelkastnr = @0";
    var selectedData = db.Query(selectCommand, decodevanbelang);
    var grid = new WebGrid(source: selectedData, rowsPerPage:20);
    string map = "/Images/Productafbeeldingen/";
}

<div class="titel">
    <h1>@Page.Title</h1>

<form method="get">
  <div>
    <label for="searchProduct">Zoek product:</label>
    <input type="text" name="searchProduct" value="" />
    <input type="Submit" value="Search Product" /><br/>
    </div>
</form>
</div>

@foreach(var row in db.Query(selectCommand, decodevanbelang))
{
<div class="achtergrond">
    <div class="afbeelding"><img alt="@row.Product" style="width: 100%; height: 100%;" src="@map@row.Afbeelding"></div>
    <div class="product">
        <div class="productachtergrond">
            <div class="naam">@row.Product</div>
            <div class="aantal">@row.Aantal</div>
            <div class="hoeveelheid">@row.Hoeveelheid</div>
        </div>
        <div class="knoppen">
            <div class="verwijderen">Verwijderen</div>
            <div class="aanpassen">Aanpassen</div>
        </div>
    </div> 
   
</div>
}